<style>
h1 { color:black;
font-family: 'Courier New' }

h2 { color:black;
font-family: 'Courier New'}

form { color:black;
font-family: 'Courier New'}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<% if @player_1_name == @current_player %>
  <h2>we know that we want to show player 1 having attacked player 2</h2>
<% else %> 
   <h2>we know that we want to show player 2 having attacked player 1</h2>
<% end %>

<h2><i><%= @current_player %> attacked <%= @next_player %>! It is now <%= @next_player %>'s turn </i></h2>

<form action="/next-attack" method="post">
  <input name="attack_type" type="radio" value="attack_1">Clinical hit (deals 10 damage)<br>
  <input name="attack_type" type="radio" value="attack_2">Wild swing (deals 5-20 damage)<br><br>
  <input type="submit" value="Submit">
</form>

<div class="row">
  <div class="column" id='player1_hud'>
    <h1>PLAYER 1: <%=@player_1_name%></h1>
    <h2><%=@player_1_hp%>/<%=@player_1_max_hp%> HP</h2>
    <progress id="player_1_health_bar" value=<%=@player_1_hp%> max=<%=@player_1_max_hp%> ></progress>
  </div>
  
  <div class="column" id='player2_hud'>
    <h1>PLAYER 2: <%=@player_2_name%></h1>
    <h2><%=@player_2_hp%>/<%=@player_2_max_hp%> HP</h2>
    <progress id="player_2_health_bar" value=<%=@player_2_hp%> max=<%=@player_2_max_hp%>></progress>
  </div>
</div> 