<style>
h1 { color:black;
font-family: verdana }

h2 { color:black;
font-family: verdana}
</style>

<h2><%= @current_player %> attacked <%= @next_player %>!</h2>
<h2><%=@player_1_name%> has <%=@player_1_hp%>/<%=@player_1_max_hp%> HP</h2>
<h2><%=@player_2_name%> has <%=@player_2_hp%>/<%=@player_2_max_hp%> HP</h2>

<h2> It is now <%= @next_player %>'s turn</h2>


<form action="/next-attack" method="post">
<input type="submit" name ="Attack" value="Attack">
</form>