<style>
h1 { color:black;
font-family: 'Courier New' }

h2 { color:black;
font-family: 'Courier New'}

form { color:black;
font-family: 'Courier New'}

button { color:black;
font-family: 'Courier New';
border: 2px solid #ddd;
border-radius: 10px;
padding: 10px;
color: white;
background-color: black;
}

.avatars {
  background-image: url('https://pokemondb.net/pokebase/qa-plugin/https-img-proxy/image.php?key=a36daf060a484b9d&url=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F3%2F36%2FAmie_Steel_Wallpaper.png');
  height: 200px;
  border: 5px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  vertical-align: middle
}

.column {
  float: left;
  width: 50%;
  vertical-align: middle
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<h1><i>BATTLE...!:</i></h1>

<div class="row">
  <div class="column" id='top_left' align='left'>
    <h1><%=@player_1_name%> VS.<br> <%=@player_2_name%></h1>
  </div>  
  
  <div class="column" id='top_right' align='left'>
    <h2><i>Opponent (<%=@next_player%>):</i></h2>
      <% if @current_player ==  @player_1_name%>
        <img class="avatars" src=<%=@player_1_avatar_front%>>
      <% else %> 
        <img class="avatars" src=<%=@player_2_avatar_front%>>
      <% end %>
    <h2><%=@next_player_hp%> / <%=@next_player_hp_max%></h2>
    <progress id="non_current_player_health_bar" value=<%=@next_player_hp%> max=<%=@next_player_hp_max%> ></progress>
  </div>
</div> 

<br><br><br>

<div class="row">
  <div class="column" id='bottom_left' align='left'>
    <h2><i>Current player (<%=@current_player%>):</i></h2>

      <% if @next_player ==  @player_1_name%>
        <img class="avatars" src = <%=@player_1_avatar_back%>>
      <% else %> 
        <img class="avatars" src = <%=@player_2_avatar_back%>>
      <% end %>

    <h2><%=@current_player_hp%> / <%=@current_player_hp_max%></h2>
    <progress id="current_player_health_bar" value=<%=@current_player_hp%> max=<%=@current_player_hp_max%> ></progress>
  </div>

  <div class="column" id='bottom_right' align='left'>
    <h2><i>Available attacks:</i></h2>
    <form action="/attack" method="post">
      <button name="attack_type" value="attack_1">Clinical Hit</button>
      <button name="attack_type" value="attack_2">Wild Swing</button>
    </form>
  </div>
  
</div> 