<style>
h1 { color:black;
font-family: verdana }

h2 { color:black;
font-family: verdana}
</style>

<h1>PLAYER 1: <%=@player_1_name%></h1>
</b>
<h1>PLAYER 2: <%=@player_2_name%></h1>

<h2><%=@player_1_name%> has <%=@player_1_hp%>HP</h2>
<h2><%=@player_2_name%> has <%=@player_2_hp%>HP</h2>

<h2><%=@current_player%> is first up to attack</h2>

<form action="/attack" method="post">
<input type="submit" name ="attack" value="Attack">
</form>