<style>
h1 { color:black;
font-family: 'Courier New' }

h2 { color:black;
font-family: 'Courier New'}

form { color:black;
font-family: 'Courier New'}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<h2><i><%=@current_player%> is first up to attack</i></h2>

<form action="/attack" method="post">
  <input name="attack_type" type="radio" value="attack_1">Clinical hit (deals 10 damage)<br>
  <input name="attack_type" type="radio" value="attack_2">Wild swing (deals 5-20 damage)<br><br>
  <input type="submit" value="Submit">
</form>

 <div class="row">
  <div class="column">
    <h1>PLAYER 1: <%=@player_1_name%></h1>
    <h2><%=@player_1_hp%>/<%=@player_1_max_hp%> HP</h2>
  </div>
  <div class="column">
    <h1>PLAYER 2: <%=@player_2_name%></h1>
    <h2><%=@player_2_hp%>/<%=@player_2_max_hp%> HP</h2>
  </div>
</div> 